<%= render partial: 'layouts/panel/two_sides_geral' %>




<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>


<script>
	document.getElementById("botaoSalvarPreco").disabled = false; 
</script>