<br /><br /><br /><br />
<legend>Preços cadastrados</legend>

<div style="width:75%; margin-left:15%;">

<% if !user_is_administrador? %>
  
    <%= grid(@precos_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto'

      g.column :name => 'Análise', html: {style: 'text-align: center'}, :attribute => 'analise' 

      g.column :name => 'Parâmetro', html: {style: 'text-align: center'}, :attribute => 'parametro' 

      g.column :name => 'Preço (R$)', html: {style: 'text-align: center'} do |preco_servico|
         number_to_currency(preco_servico.preco, :precision => 2, :unit => '', :separator => ',', :delimiter => '.')
      end

      g.column do |preco_servico|
        link_to('Editar', edit_preco_servico_path(preco_servico), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

    end -%>

<%end%>

<% if user_is_administrador? %>

<%= grid(@precos_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto'

      g.column :name => 'Análise', html: {style: 'text-align: center'}, :attribute => 'analise' 

      g.column :name => 'Parâmetro', html: {style: 'text-align: center'}, :attribute => 'parametro' 

      g.column :name => 'Preço (R$)', html: {style: 'text-align: center'} do |preco_servico|
         number_to_currency(preco_servico.preco, :precision => 2, :unit => '', :separator => ',', :delimiter => '.')
      end

      g.column do |preco_servico|
        link_to('Editar', edit_preco_servico_path(preco_servico), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end    

      g.column do |preco_servico|
        link_to 'Excluir', preco_servico, method: :delete, html: {style: 'text-align: center'}, :class => 'btn btn-small', data: { confirm: "Tem certeza que deseja excluir?" } 
      end

    end -%>

<%end%>

</div>

<br>

<%= link_to 'Novo Preço', new_preco_servico_path, :class => 'btn btn-info' %>



<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>