<%= render partial: 'layouts/panel/top' %>

		<div class='row'>

			<div class="col-lg-4" style="width:30%">
				<%= render partial: 'form_resultado_amostra' %>
			</div>

			<div class="col-lg-7 col-lg-offset-1" style="width:60%" id="tabela_parametro_resultado">
				<%= render partial: 'grid' %>
			</div>
		</div>

<%= render partial: 'layouts/panel/bottom' %>
