<%= render partial: 'layouts/panel/top' %>

		<div class='row'>

			<div class="col-lg-4" style="width:30%">
				<%= render partial: 'form_servico_orcamento' %>
			</div>

			<div class="col-lg-7" style="width:70%; padding-left: 20px" id="tabela_servico_orcamento">
				<%= render partial: 'grid' %>
			</div>
		</div>

<%= render partial: 'layouts/panel/bottom' %>
