<% if(request.original_url.include? "orcamentos") %>
	$('.analise_seletor').empty();
	$('.analise_seletor').append( $('<option></option>'));
	<% @analises.each do |analise| %>
	  $('.analise_seletor').append($('<option value="<%= analise.tipo %>"><%= analise.tipo %></option>'));
	<% end %>
<% end %>