<% if(request.original_url.include? "orcamentos") %>
	$('#servico_orcamento_parametro').empty();
	$('#servico_orcamento_parametro').append( $('<option></option>'));
	<% @parametros.each do |parametro| %>
	  $('#servico_orcamento_parametro').append($('<option value="<%= parametro.nome %>"><%= parametro.nome %></option>'));
	<% end %>
<% end %>