<% if(request.original_url.include? "orcamentos") %>
	$('#servico_orcamento_analise').empty();
	$('#servico_orcamento_analise').append( $('<option></option>'));
	<% @analises.each do |analise| %>
	  $('#servico_orcamento_analise').append($('<option value="<%= analise.tipo %>"><%= analise.tipo %></option>'));
	<% end %>
<% end %>