<br /><br /><br /><br />
<legend>Orçamentos cadastrados</legend>

<div style="width:95%; margin-left:3%;">

<% if !user_is_administrador? %>
  
    <%= grid(@orcamentos_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Identificador', html: {style: 'text-align: center'}, :attribute => 'numero'

      g.column :name => 'Pessoa Solicitante', html: {style: 'text-align: center'}, :attribute => 'pessoa_solicitante' 

      g.column :name => 'Empresa Solicitante', html: {style: 'text-align: center'}, :attribute => 'empresa_solicitante' 

      g.column :name => 'Total a Pagar (R$)', html: {style: 'text-align: center'}, :attribute => 'total_pagar' 

      g.column :name => 'Status', html: {style: 'text-align: center'}, :attribute => 'status' 

      g.column do |orcamento|
        link_to('Detalhes', orcamento, html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

      g.column do |orcamento|
        link_to('Editar', edit_orcamento_path(orcamento), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

    end -%>

<%end%>

<% if user_is_administrador? %>

<%= grid(@orcamentos_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Identificador', html: {style: 'text-align: center'}, :attribute => 'numero'

      g.column :name => 'Pessoa Solicitante', html: {style: 'text-align: center'}, :attribute => 'pessoa_solicitante' 

      g.column :name => 'Empresa Solicitante', html: {style: 'text-align: center'}, :attribute => 'empresa_solicitante' 

      g.column :name => 'Total a Pagar (R$)', html: {style: 'text-align: center'} do |orcamento|
          number_to_currency(orcamento.total_pagar, :precision => 2, :unit => '', :separator => ',', :delimiter => '.')
      end 

      g.column :name => 'Status', html: {style: 'text-align: center'}, :attribute => 'status'

      g.column do |orcamento|
        link_to('Detalhes', orcamento, html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

      g.column do |orcamento|
        link_to('Editar', edit_orcamento_path(orcamento), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

      g.column do |orcamento|
        link_to 'Excluir', orcamento, method: :delete, html: {style: 'text-align: center'}, :class => 'btn btn-small', data: { confirm: "Você realmente deseja excluir o orcamento #{orcamento.numero}?" } 
      end

    end -%>

<%end%>

</div>

<br>

<%= link_to 'Novo Orçamento', new_orcamento_path, :class => 'btn btn-info' %>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>
