<div class="row">
  <div class="col-lg-6 col-lg-offset-2">
    <div class="widget">
      <div class="widget-header">
        <div class="title">
          <span class="fs2" aria-hidden="true">
            <%= "Tipos de análise cadastrados" %>
        </div>
      </div>

      <div class="widget-body">

        <% if !user_is_administrador? %>
          
            <%= grid(@analises_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
          

              g.column :name => 'Tipo', html: {style: 'text-align: center'}, :attribute => 'tipo' do |analise|
                link_to "#{analise.tipo}",analise, id:"mostrar-#{analise.tipo}"
              end
             

              g.column name: 'Editar' do |tipo_analise|
                render partial: 'layouts/grid_icons/edit', locals: {hyperlink:edit_tipo_analise_path(tipo_analise), id:"editar-#{tipo_analise.id}" }
              end

            end -%>

        <%end%>

        <% if user_is_administrador? %>

        <%= grid(@analises_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
          

              g.column :name => 'Tipo', html: {style: 'text-align: center'}, :attribute => 'tipo' do |analise|
                link_to "#{analise.tipo}",analise, id:"mostrar-#{analise.tipo}"
              end

              g.column name: 'Editar' do |tipo_analise|
                render partial: 'layouts/grid_icons/edit', locals: {hyperlink:edit_tipo_analise_path(tipo_analise), id:"editar-#{tipo_analise.id}" }
              end

              g.column name: 'Excluir' do |tipo_analise|
                render partial: 'layouts/grid_icons/delete', locals: {hyperlink:tipo_analise_path(tipo_analise), id:"deletar-#{tipo_analise.id}", message: 'Tem certeza que deseja excluir?'  }
              end             

            end -%>

        <%end%>

        </div>

      </div>
  </div>

</div>