 <!-- Row start -->
 <div class="row">
 	<div class="col-lg-6">
 		<div class="widget">
 			<div class="widget-header">
 				<div class="title">
 					<span class="text-error">Tipo de Análise</span>
 				</div>
 			</div>
 			<div class="widget-body">
 				<table class="table table-striped table-hover">
 					<tbody>
 						<tr>
 							<td>
 								<strong>Tipo:</strong>
 							</td>
 							<td>
 								<%= @tipo_analise.tipo %>
 							</td>
 						</tr> 						
 					</tbody>
 				</table>
 			</div>
 		</div>
 	</div> 	

</div>
<%= link_to t('botoes.voltar'), "javascript:history.go(-1)", class: 'btn btn-info'%>
 <!-- Row end -->
