<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @tipo_analise.tipo %>
</p>

<%= link_to 'Editar', edit_tipo_analise_path(@tipo_analise), :class => 'btn btn-info'  %> |
<%= link_to 'Voltar', tipo_analises_path, :class => 'btn btn-info'  %>
