<br /><br /><br /><br />
<legend>Nova assinatura</legend>

<%= render 'form' %>

<%= link_to 'Voltar', assinaturas_path, :class => 'btn btn-info' %>



<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>