<br /><br />
<legend>Amostras cadastradas</legend>

<div style="width:95%; margin-left:3%;">

  <%= link_to 'Nova Amostra', new_amostra_path, :class => 'btn btn-info' %>
  <br /><br />

<% if !user_is_administrador? %>
  
    <%= grid(@amostras_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Amostra', html: {style: 'text-align: center'}, :attribute => 'certificado' do |amostra|
        link_to "#{amostra.certificado}",amostra, id:"mostrar-#{amostra.certificado}"
      end

      g.column :name => 'Solicitante', html: {style: 'text-align: center'}, :attribute => 'solicitante' do |amostra|
        link_to "#{amostra.solicitante}",amostra, id:"mostrar-#{amostra.solicitante}"
      end

      g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto' do |amostra|
        link_to "#{amostra.produto}",amostra, id:"mostrar-#{amostra.produto}"
      end

      g.column :name => 'Marca', html: {style: 'text-align: center'}, :attribute => 'marca' do |amostra|
        link_to "#{amostra.marca}",amostra, id:"mostrar-#{amostra.marca}"
      end

      g.column :name => 'Status' do |amostra|
        if amostra.status == "Aberto"
          [amostra.status, {style: 'text-align: center; color:green'}]        
        else amostra.status == "Fechado"
          [amostra.status, {style: 'text-align: center; color:red'}]        
        end
        link_to "#{amostra.status}",amostra, id:"mostrar-#{amostra.status}"
      end

      g.column name: 'Copiar Dados' do |amostra|
        render partial: 'layouts/grid_icons/copy', locals: {hyperlink:copy_amostra_path(amostra), id:"gerar_pdf-#{amostra.id}" }
      end

      g.column name: 'Gerar PDF' do |amostra|
        render partial: 'layouts/grid_icons/pdf', locals: {hyperlink:amostra_path(amostra.id, format:'pdf'), id:"gerar_pdf-#{amostra.id}" }
      end

      g.column name: 'Editar' do |amostra|
        render partial: 'layouts/grid_icons/edit', locals: {hyperlink:edit_amostra_path(amostra), id:"editar-#{amostra.id}" }
      end

    end -%>

<%end%>

<% if user_is_administrador? %>

<%= grid(@amostras_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

  g.column :name => 'Amostra', html: {style: 'text-align: center'}, :attribute => 'certificado' do |amostra|
        link_to "#{amostra.certificado}",amostra, id:"mostrar-#{amostra.certificado}"
      end

      g.column :name => 'Solicitante', html: {style: 'text-align: center'}, :attribute => 'solicitante' do |amostra|
        link_to "#{amostra.solicitante}",amostra, id:"mostrar-#{amostra.solicitante}"
      end

      g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto' do |amostra|
        link_to "#{amostra.produto}",amostra, id:"mostrar-#{amostra.produto}"
      end

      g.column :name => 'Marca', html: {style: 'text-align: center'}, :attribute => 'marca' do |amostra|
        link_to "#{amostra.marca}",amostra, id:"mostrar-#{amostra.marca}"
      end

      g.column :name => 'Status' do |amostra|
        if amostra.status == "Aberto"
          [amostra.status, {style: 'text-align: center; color:green'}]        
        else amostra.status == "Fechado"
          [amostra.status, {style: 'text-align: center; color:red'}]        
        end
        link_to "#{amostra.status}",amostra, id:"mostrar-#{amostra.status}"
      end

  g.column name: 'Copiar Dados' do |amostra|
    render partial: 'layouts/grid_icons/copy', locals: {hyperlink:copy_amostra_path(amostra), id:"gerar_pdf-#{amostra.id}" }
  end

  g.column name: 'Gerar PDF' do |amostra|
    render partial: 'layouts/grid_icons/pdf', locals: {hyperlink:amostra_path(amostra.id, format:'pdf'), id:"gerar_pdf-#{amostra.id}" }
  end

  g.column name: 'Editar' do |amostra|
    render partial: 'layouts/grid_icons/edit', locals: {hyperlink:edit_amostra_path(amostra), id:"editar-#{amostra.id}" }
  end

  g.column name: 'Excluir' do |amostra|
    render partial: 'layouts/grid_icons/delete', locals: {hyperlink:amostra_path(amostra), id:"deletar-#{amostra.id}", message: 'Tem certeza que deseja excluir?'  }
  end 
  
end -%>

<%end%>

</div>

<br>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>

