<script type="text/javascript">

  jQuery(function($) {  
    $("#filtro").on("change",function() {  
      var filtro = $('INPUT#filtro').val();               
      
      $.get('/amostras/get_filtro/' + filtro , function(data){             
               $("#tabelaAmostra").html(data);
            })
           

      return false;
    });
  });


</script>

<br /><br /><br /><br />
<legend>Amostras cadastradas</legend>

<div style="width:95%; margin-left:3%;">

<% if !user_is_administrador? %>
  
    <%= grid(@amostras_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

      g.column :name => 'Amostra', html: {style: 'text-align: center'}, :attribute => 'certificado'

      g.column :name => 'Solicitante', html: {style: 'text-align: center'}, :attribute => 'solicitante' 

      g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto' 

      g.column :name => 'Marca', html: {style: 'text-align: center'}, :attribute => 'marca' 

      g.column :name => 'Status' do |amostra|
        if amostra.status == "Aberto"
          [amostra.status, {style: 'text-align: center; color:green'}]        
        else amostra.status == "Fechado"
          [amostra.status, {style: 'text-align: center; color:red'}]        
        end
      end

      g.column do |amostra|
        link_to('Copiar Dados', copy_amostra_path(amostra), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

      g.column do |amostra|
        link_to('Detalhes', amostra, html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

      g.column do |amostra|
        link_to('Editar', edit_amostra_path(amostra), html: {style: 'text-align: center'}, :class => 'btn btn-small')
      end

    end -%>

<%end%>

<% if user_is_administrador? %>

<%= grid(@amostras_grid, html: {class:'grid'}, :show_filters => :always, allow_showing_all_records: false) do |g|
  

  g.column :name => 'Amostra', html: {style: 'text-align: center'}, :attribute => 'certificado'

  g.column :name => 'Solicitante', html: {style: 'text-align: center'}, :attribute => 'solicitante' 

  g.column :name => 'Produto', html: {style: 'text-align: center'}, :attribute => 'produto' 

  g.column :name => 'Marca', html: {style: 'text-align: center'}, :attribute => 'marca' 

  g.column :name => 'Status' do |amostra|
    if amostra.status == "Aberto"
      [amostra.status, {style: 'text-align: center; color:green'}]        
    else amostra.status == "Fechado"
      [amostra.status, {style: 'text-align: center; color:red'}]        
    end
  end

  g.column do |amostra|
    link_to('Copiar Dados', copy_amostra_path(amostra), html: {style: 'text-align: center;'}, :class => 'btn btn-small')
  end

  g.column do |amostra|
    link_to('Detalhes', amostra, html: {style: 'text-align: center'}, :class => 'btn btn-small')
  end

  g.column do |amostra|
    link_to('Editar', edit_amostra_path(amostra), html: {style: 'text-align: center'}, :class => 'btn btn-small')
  end

  g.column do |amostra|
    link_to 'Excluir', amostra, method: :delete, html: {style: 'text-align: center'}, :class => 'btn btn-small', data: { confirm: "Você realmente deseja excluir a amostra #{amostra.certificado}?" } 
  end
end -%>

<%end%>

</div>

<br>


<%= link_to 'Nova Amostra', new_amostra_path, :class => 'btn btn-info' %>


<footer>
      <div class="footerNugap">
        <br><br>
        <center>
          <img src="../../assets/images/logo.png" alt="Nugap" width="50" height="50">
          <i>Nugap - Todos os direitos reservados</i>
        </center>
      </div>
    </footer>

